.contact-section {
  display: flex; /* Enable flexbox */
  justify-content: center; /* Center items horizontally */
  align-items: center; /* Center items vertically */
  height: 100vh; /* Full viewport height */
  width: 100%; /* Full width */
  padding: 40px;
  background-color: #141412; /* Dark background color */
  opacity: 1; /* Start hidden */
}

.contact-text-container {
  text-align: center; /* Center text inside the container */
  color: #e0e0db; /* Text color */
}

.contact-subtitle {
  font-size: 18px; /* Smaller subtitle text */
  margin-bottom: 10px; /* Space below subtitle */
  opacity: 0.4;
}

.contact-title {
  font-size: 6em; /* Large title text */
  margin: 20px 0; /* Space above and below title */
  text-transform: uppercase;
}

.message-button {
  display: inline-block; /* Make it behave like a block for padding */
  padding: 12px 24px; /* Padding for the button */
  background-color: #6c6f60; /* Button background color */
  color: #fff; /* Button text color */
  text-decoration: none; /* Remove underline from link */
  border-radius: 5px; /* Rounded corners */
  cursor: pointer; /* Pointer cursor on hover */
  font-size: 16px; /* Button text size */
  transition: background-color 0.3s; /* Transition for background color */
  margin-bottom: 45px; /* Space below the button */
}

.message-button:hover {
  background-color: #30302c; /* Darker shade on hover */
}

.global-message {
  font-size: 16px; /* Regular message text size */
  color: #e0e0db; /* Message text color */
  /* Transition for opacity */
}

/* Fade-in effect for the entire section */
.fade-in {
  opacity: 1; /* Make item fully visible */
}

/* Adjustments for mobile responsiveness */
@media (max-width: 768px) {
  .contact-section {
    height: 100%;
    width: 100%;
  }
  .contact-text-container {
    padding: 70px;
  }
  .contact-title {
    font-size: 60px; /* Smaller title for mobile devices */
  }

  .contact-subtitle {
    font-size: 16px; /* Smaller subtitle for mobile devices */
  }

  .message-button {
    font-size: 14px; /* Smaller button text */
  }

  .global-message {
    font-size: 14px; /* Smaller message text */
  }
}
