@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #e0e0db;
}

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px 5%;
  background-color: none;
}

.my-name {
  flex: 1;
  display: flex;
  position: relative;
  font-size: 9vw;
  padding-top: 30px;
  justify-content: center;
  text-transform: uppercase;
}

.landing-page {
  width: 100%;
  height: 93.9vh;
}
.img-container {
  display: flex;
  justify-content: center;
}

img {
  height: 600px;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  border-radius: 15px;
}

.arrow {
  font-size: 3rem;
}
.about-me-text-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-left: 150px;
  margin-bottom: 10px;
}

.about-me {
  font-size: 20px;
  width: 400px;
}

.about-me-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.aboutme-navbar {
  margin-right: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.name-navbar {
  font-size: 1.3rem;
  font-weight: 900;
  color: #141412;
}

.name-side-navbar {
  color: gray;
}

.nav__links {
  list-style: none;
  display: flex;
}

.nav__links a,
.cta,
.overlay__content a {
  font-weight: 500;
  color: #141412;
  text-decoration: none;
}

.nav__links li {
  padding: 0px 20px;
}

.nav__links li a {
  transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
  color: #bdbdb2;
}

.cta {
  margin-left: 20px;
  padding: 9px 25px;
  background-color: #141412;
  color: #e0e0db;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.cta:hover {
  background-color: #bdbdb2;
  color: black;
}

/* Mobile Nav */

.menu {
  display: none;
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: #24252a;
  overflow-x: hidden;
  transition: all 0.5s ease 0s;
}

.overlay--active {
  width: 100%;
}

.overlay__content {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.overlay a {
  padding: 15px;
  font-size: 36px;
  display: block;
  transition: all 0.3s ease 0s;
  color: #e0e0db;
}

.overlay a:hover,
.overlay a:focus {
  color: #bdbdb2;
}
.overlay .close {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
  color: #edf0f1;
  cursor: pointer;
}

.nav__links {
  color: #e0e0db;
}

@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px;
  }
  .overlay .close {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

@media only screen and (max-width: 800px) {
  /* .my-name {
    font-size: 3rem;
  } */
  .about-me {
    font-size: 1rem;
  }
  .name-side-navbar {
    font-size: 10px;
  }
  .nav__links,
  .cta {
    display: none;
  }
  .menu {
    display: initial;
  }
  .aboutme-navbar {
    display: grid;
    gap: 2px;
  }
}

@media only screen and (max-width: 1280px) {
  img {
    height: 400px;
  }

  .about-me-text-container {
    margin-bottom: 30px;
  }
}

@media only screen and (max-width: 500px) {
  img {
    height: 300px;
    margin-top: 40px;
  }

  .about-me-text-container {
    margin-bottom: 0px;
    margin-left: 10px;
    margin-top: 0px;
  }

  .arrow {
    font-size: 30px;
  }
  .about-me-container {
    display: flex;
    flex-direction: column;
  }
  .my-name {
    padding-top: 10px;
  }
  .about-me {
    font-size: 15px;
    width: 300px;
  }
}
